.res{
	display:none;
}
/* ============================================= Media 240 - 480 ================================================  */
@media only screen and (min-width: 240px) and (max-width:480px)  {
.res{
	display:block;
}
.desktopmenuold, .desktopmenuold2{
	display:none;
}
.main-nav .nav-tabs li {
    display: block;
    width: 25%;
}
.main-nav .nav-tabs {
    background: #75273f73;
}
.support .col-xs-3 {
    padding: 0px 10px;
}
.support .col-xs-3 .myaccount {
    padding: 0;
	min-height: 50px !important;
}
.support .col-xs-3 .myaccount a {
    font-size: 13px;
}
.btn-hs {
    font-size: 14px;
    padding: 6px 15px;
}
.btn-package {
    text-align: center;
}

.search-block.hotel-search {
    padding-bottom: 0;
}
.page-body {
    padding: 20px 0px;
}
.scb {
    padding: 5px 0px;
}
.scb-title {
    font-size: 20px;
}
.hot-deals-title {
    font-size: 17px;
}
span.hot {
    font-size: 18px;
}
.subscribe-text h2 {
    width: 100%;
    text-align: center;
}
.customize {
    padding: 30px 10px;
}
.input-group {
    width: 100%;
    margin-bottom: 10px;
}
.btn-payment {
    margin-left: 15px;
}
.card-header {
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
}
.pd-l-0 {
    text-align: center;
}
#booking_form .row.form-group {
    width: 100%;
    margin: auto;
    float: unset;
    text-align: center;
}
#booking_form .row.form-group .form-control {
    width: auto;
    margin: auto;
    margin-bottom: 15px;
}
#booking_form .row.form-group:nth-child(2n) label.col-md-6 {
    display: none;
}
#booking_form .row.form-group:nth-child(2n) .submit_btn {
    margin-bottom: 25px;
}
.about-logo {
    padding: 20px 10px;
}
.about-center {
    margin: 10px;
}
.about-logo img {
    width: 60%;
}
.contitle {
    width: 90%;
    margin: auto;
}
.cntct-map-col {
    margin-top: 40px;
}
.faq-breadcrumbs {
    padding: 40px 15px;
}
.holiday-tour-fare {
    width: 100%;
}

.inquire {
    padding: 10px 0px;
    float: left;
}
.view-details {
    float: right;
    padding: 10px 0px;
}
.holiday-tour-fare .toal-persons h4 {
    text-align: left;
}
.add-compare {
    padding: 0;
    text-align: left;
    float: left;
}
}

/* ============================================= Media 481 - 601 ================================================  */
@media only screen and (min-width: 481px) and (max-width:601px)  {
.main-nav .nav-tabs li {
    display: block;
    width: 25%;
}
.main-nav .nav-tabs {
    background: #75273f73;
}
.support .col-xs-3 {
    padding: 0px 10px;
}
.support .col-xs-3 .myaccount {
    padding: 0;
	min-height: 50px !important;
}
.support .col-xs-3 .myaccount a {
    font-size: 13px;
}
.btn-hs {
    font-size: 14px;
    padding: 6px 15px;
}
.btn-package {
    text-align: center;
}

.search-block.hotel-search {
    padding-bottom: 0;
}
.page-body {
    padding: 20px 0px;
}
.scb {
    padding: 5px 0px;
}
.scb-title {
    font-size: 20px;
}
.hot-deals-title {
    font-size: 17px;
}
span.hot {
    font-size: 18px;
}
.subscribe-text h2 {
    width: 100%;
    text-align: center;
}
.customize {
    padding: 30px 10px;
}
.input-group {
    width: 100%;
    margin-bottom: 10px;
}
.btn-payment {
    margin-left: 15px;
}
.card-header {
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
}
.pd-l-0 {
    text-align: center;
}
#booking_form .row.form-group {
    width: 100%;
    margin: auto;
    float: unset;
    text-align: center;
}
#booking_form .row.form-group .form-control {
    width: auto;
    margin: auto;
    margin-bottom: 15px;
}
#booking_form .row.form-group:nth-child(2n) label.col-md-6 {
    display: none;
}
#booking_form .row.form-group:nth-child(2n) .submit_btn {
    margin-bottom: 25px;
}
.about-logo {
    padding: 20px 10px;
}
.about-center {
    margin: 10px;
}
.about-logo img {
    width: 60%;
}
.contitle {
    width: 90%;
    margin: auto;
}
.cntct-map-col {
    margin-top: 40px;
}
.faq-breadcrumbs {
    padding: 40px 15px;
}
.holiday-tour-fare {
    width: 100%;
}

.inquire {
    padding: 10px 0px;
    float: left;
}
.view-details {
    float: right;
    padding: 10px 0px;
}
.holiday-tour-fare .toal-persons h4 {
    text-align: left;
}
.add-compare {
    padding: 0;
    text-align: left;
    float: left;
}
}

/* ============================================= Media 602 - 765 ================================================  */
@media only screen and (min-width: 602px) and (max-width:769px)  {

.res{
	display:block;
}
.desktopmenuold, .desktopmenuold2{
	display:none;
}
.main-nav .nav-tabs li {
    display: block;
    width: 25%;
}
.main-nav .nav-tabs {
    background: #75273f73;
}
.support .col-xs-3 {
    padding: 0px 10px;
}
.support .col-xs-3 .myaccount {
    padding: 0;
	min-height: 50px !important;
}
.support .col-xs-3 .myaccount a {
    font-size: 13px;
}
.btn-hs {
    font-size: 14px;
    padding: 6px 15px;
}
.btn-package {
    text-align: center;
}

.search-block.hotel-search {
    padding-bottom: 0;
}
.page-body {
    padding: 20px 0px;
}
.scb {
    padding: 5px 0px;
}
.scb-title {
    font-size: 20px;
}
.hot-deals-title {
    font-size: 17px;
}
span.hot {
    font-size: 18px;
}
.subscribe-text h2 {
    width: 100%;
    text-align: center;
}
.customize {
    padding: 30px 10px;
}
.input-group {
    width: 100%;
    margin-bottom: 10px;
}
.btn-payment {
    margin-left: 15px;
}
.card-header {
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
}
.pd-l-0 {
    text-align: center;
}
#booking_form .row.form-group {
    width: 100%;
    margin: auto;
    float: unset;
    text-align: center;
}
#booking_form .row.form-group .form-control {
    width: auto;
    margin: auto;
    margin-bottom: 15px;
}
#booking_form .row.form-group:nth-child(2n) label.col-md-6 {
    display: none;
}
#booking_form .row.form-group:nth-child(2n) .submit_btn {
    margin-bottom: 25px;
}
.about-logo {
    padding: 20px 10px;
}
.about-center {
    margin: 10px;
}
.about-logo img {
    width: 60%;
}
.contitle {
    width: 90%;
    margin: auto;
}
.cntct-map-col {
    margin-top: 40px;
}
.faq-breadcrumbs {
    padding: 40px 15px;
}
.holiday-tour-fare {
    width: 100%;
}

.inquire {
    padding: 10px 0px;
}
.view-details {
    padding: 10px 0px;
}
.holiday-tour-fare .toal-persons h4 {
    text-align: left;
}
.add-compare {
    padding: 0;
    text-align: left;
    float: left;
}
}

/* ============================================= Media 766 - 1024 ================================================  */
@media only screen and (min-width: 769px) and (max-width:1024px)  {
.res{
	display:none;
}
}

/* ============================================= Media 1025 - 1180 ================================================  */
@media only screen and (min-width: 1025px) and (max-width:1180px)  {

}
