
/* Media Queires */
@media only screen and (max-width: 767px){
.search-cust{
margin:10px 0px 0px 0px;
text-align:center;
}
.nav-tabs>li{
width:100%;
}
.main-nav .nav-tabs>li{
	
	text-align:center;
	
}
.main-sub-nav nav > ul > li{
	
	display:inline;
	text-align: center;
}
.navbar-brand img{
	
	position: relative;
    /* width: 100%; */
    margin: 0 auto;
}
.navbar-brand{
	float:none;
	
}
.holiday-bottom{
	
	padding:40px 15px;
	
}
.btn-customize{
	width:100%;
}
.search-dest{
	
	width:70%;
}
.btn-search{
	
	width:30%;
}
.banner-heading4{
	
	font-size:32px;
	text-align:center;
	 
}
 .banner-heading2{
	
	font-size:60px;
	text-align:center;
	-webkit-text-stroke: 0px #fff;
 }
 .banner-price{
	 
	
    padding: 05px 10px;
	font-size:12px;
	text-align:center;
	float:none;
 }
 .mobile-nav .navbar-toggle{
	 
	 margin:50px 20px;
 }

}


@media (min-width: 768px) {
    .col-sm-14 {
        width: 14.28%;
        float: left;
    }
	
	  .col-sm-16 {
        width: 12.28%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-14 {
        width: 14.28%;
        float: left;
    }
	 .col-md-16 {
        width: 12.28%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-14 {
        width: 14.28%;
        float: left;
    }
	 .col-lg-16 {
        width: 12.28%;
        float: left;
    }
}


@media only screen and (min-width: 1024px) {
   .navbar-default .navbar-nav>.active>a ,.navbar-default .navbar-nav li a:hover ,.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
color:#000;
background:none;
border-bottom:2px solid transparent;
  border-image:linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
    border-image-slice: 1;
	border-top:0px;
	border-right:0px;
	border-left:0px;

}

.container {
 /*    width: 1010px; */
	/* border:1px solid #000; */
}

.mega-menu{

min-width:980px !important;
left:-80px !important;
}
.pad-left-five{
padding-left:5px;
}
.pad-right-five{
padding-right:5px;
}
.no-desktop-pad{
padding:0px;
}
.no-desktop-pad-right{
padding-right:0px;
}
.btn-desktop-right{
float:right;
}
.btn-desktop-rleft{
float:left;
}
.text-desktop-right{
text-align:right;
}
.text-desktop-left{
text-align:left;
}

}


@media only screen and (min-width: 1366px) {
	
	.mega-menu{

    min-width: 1100px !important;
    left: -270px !important;
    border-top: 1px solid rgba(0,0,0,.15);
}
	
	
	
	
}




/* Bootstrap Cols */
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}