.res{
	display:none;
}
@media only screen and (min-width: 240px) and (max-width:322px)  {
	.navbar-brand img {
    float: left;
}
}
/* ============================================= Media 240 - 480 ================================================  */
@media only screen and (min-width: 240px) and (max-width:480px)  {
	.navbar-header {
    background: #400C1D;
}
#myNavbar {
    background: linear-gradient(to right, #ff2682 0%, #ff6541 100%);
}
#myNavbar ul > li > a {
    color: #fff;
    font-size: 15px;
    float: left;
    display: block;
    width: 90%;
}
#myNavbar ul > li .dropdown-menu a {
    font-size: 14px;
    color: #000;
}
.dropdown img.dropdown-toggle.img-plus {
    width: 35px;
    padding: 8px;
    vertical-align: middle;
    float: right;
}
.scb-title {
    font-size: 20px;
}
.background-line {
    font: 18px sans-serif;
    width: 116%;
    margin-left: -16.66666667%;
}
.deal-blocks .col-xs-12.col-sm-3.col-md-3.col-lg-3.pd-r-0 {
    max-width: 84%;
    padding: 0;
    margin: auto;
    display: block;
    float: unset;
}
.deal-blocks .col-xs-12.col-sm-4.col-md-4.col-lg-4.pd-r-0 {
    padding: 0;
    float: unset;
    width: 85%;
    margin: auto;
    display: block;
}
.deal-blocks .col-xs-12.col-sm-4.col-md-4.col-lg-4.pd-r-0 img.img-responsive {
    min-height: auto;
}
.why-lct .col-md-2 {
    width: 50%;
}
.why-lct .col-xs-12 {
    width: 100%;
}
.subscribe .social.text-right {
    text-align: center;
}
.subscribe .subscribe-text h2 {
    text-align: center;
    width: 100%;
}
.holiday-booking-flight .input-group {
    margin-bottom: 10px;
}
.btn-payment {
    margin-left: 15px;
}
.holiday-list-item {
    margin-bottom: 30px !important;
    overflow: auto;
}
.holiday-tour-fare {
    float: left;
    padding: 10px 0px;
    width: 100%;
}
.holiday-tour-fare .inquire {
    float: left;
    padding: 0;
}
.holiday-tour-fare .view-details {
    float: right;
}
.holiday-tour-fare .add-compare {
    float: left;
    display: block;
    width: 100%;
}
.about-center {
    margin: 10px;
}
.contitle {
    margin-left: 20px;
}
.faq-breadcrumbs {
    padding: 50px 10px;
}
.holiday-details-nav ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    min-width: 32%;
    margin-bottom: 15px;
}
.holiday-details-nav .social {
    text-align: center;
	margin-bottom: 15px;
}
.social .fa {
    margin: 5px 1px;
}
.btn-holiday-details {
    padding: 10px 10px;
}
.btn-hd {
    margin-left: 15px;
}
.card-body .form-group .btn-holiday {
    margin-left: 15px;
}
.card-body .form-group {
    margin-bottom: 15px;
    max-width: 100%;
    margin-right: unset;
    margin-left: unset;
}
.book-div {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.book-row input#booking_id {
    width: 100%;
}
.book-row form#booking_form label {
    padding-left: 0;
}
.book-row form#booking_form .row.form-group:nth-child(2) label.col-md-6.col-sm-6.col-xs-6 {
    display: none;
}
.hot-deals .deal-duration {
    position: absolute;
    bottom: 14.5%;
}
}

/* ============================================= Media 481 - 601 ================================================  */
@media only screen and (min-width: 481px) and (max-width:601px)  {
		.navbar-header {
    background: #400C1D;
}
#myNavbar {
    background: linear-gradient(to right, #ff2682 0%, #ff6541 100%);
}
#myNavbar ul > li > a {
    color: #fff;
    font-size: 15px;
    float: left;
    display: block;
    width: 90%;
}
#myNavbar ul > li .dropdown-menu a {
    font-size: 14px;
    color: #000;
}
.dropdown img.dropdown-toggle.img-plus {
    width: 35px;
    padding: 8px;
    vertical-align: middle;
    float: right;
}
.scb-title {
    font-size: 20px;
}
.background-line {
    font: 18px sans-serif;
    width: 116%;
    margin-left: -16.66666667%;
}
.deal-blocks .col-xs-12.col-sm-3.col-md-3.col-lg-3.pd-r-0 {
    max-width: 84%;
    padding: 0;
    margin: auto;
    display: block;
    float: unset;
}
.deal-blocks .col-xs-12.col-sm-4.col-md-4.col-lg-4.pd-r-0 {
    padding: 0;
    float: unset;
    width: 85%;
    margin: auto;
    display: block;
}
.deal-blocks .col-xs-12.col-sm-4.col-md-4.col-lg-4.pd-r-0 img.img-responsive {
    min-height: auto;
}
.why-lct .col-md-2 {
    width: 50%;
}
.why-lct .col-xs-12 {
    width: 100%;
}
.subscribe .social.text-right {
    text-align: center;
}
.subscribe .subscribe-text h2 {
    text-align: center;
    width: 100%;
}
.holiday-booking-flight .input-group {
    margin-bottom: 10px;
}
.btn-payment {
    margin-left: 15px;
}
.holiday-list-item {
    margin-bottom: 30px !important;
    overflow: auto;
}
.holiday-tour-fare {
    float: left;
    padding: 10px 0px;
    width: 100%;
}
.holiday-tour-fare .inquire {
    float: left;
    padding: 0;
}
.holiday-tour-fare .view-details {
    float: right;
}
.holiday-tour-fare .add-compare {
    float: left;
    display: block;
    width: 100%;
}
.about-center {
    margin: 10px;
}
.contitle {
    margin-left: 20px;
}
.faq-breadcrumbs {
    padding: 50px 10px;
}
.holiday-details-nav ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    min-width: 32%;
    margin-bottom: 15px;
}
.holiday-details-nav .social {
    text-align: center;
	margin-bottom: 15px;
}
.social .fa {
    margin: 5px 1px;
}
.btn-holiday-details {
    padding: 10px 10px;
}
.btn-hd {
    margin-left: 15px;
}
.card-body .form-group .btn-holiday {
    margin-left: 15px;
}
.card-body .form-group {
    margin-bottom: 15px;
    max-width: 100%;
    margin-right: unset;
    margin-left: unset;
}
.book-div {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.book-row input#booking_id {
    width: 100%;
}
.book-row form#booking_form label {
    padding-left: 0;
}
.book-row form#booking_form .row.form-group:nth-child(2) label.col-md-6.col-sm-6.col-xs-6 {
    display: none;
}
.hot-deals .deal-duration {
    position: absolute;
    bottom: 14.5%;
}
}

/* ============================================= Media 602 - 765 ================================================  */
@media only screen and (min-width: 602px) and (max-width:769px)  {
	
}

/* ============================================= Media 766 - 1024 ================================================  */
@media only screen and (min-width: 768px) and (max-width:1024px)  {
.main-nav .nav-tabs li a {
    font-size: 14px;
    padding: 10px 9px;
}
.navbar-brand img {
    position: absolute;
    z-index: 100;
    max-width: 91%;
}
nav > ul > li > a {
    padding: 20px 8px;
}
.btn-customize {
    font-size: 13px;
    padding: 9px 22px;
    text-transform: uppercase;
}
.deal-duration {
    bottom: 25%;
    font-size: 12px;
}
h3.hot-deals-title.background-line.col-xs-10 {
    width: 116.66666667%;
    margin-left: -16.66666667%;
    text-align: center;
}
nav > ul {
    margin: 0;
    text-align: right;
}
.hot-deals .thumbnail img {
    min-height: auto;
}
btn-holiday-details {
    font-size: 14px;
    padding: 10px 10px;
}
.inner-breadcrumbs .inner-breadcrumbs-block .inner-breadcrumbs-page-title h2 {
    font-size: 18px;
}
.social > .btn-group-lg > .btn, .btn-lg {
    padding: 1px;
}
}
@media only screen and (min-width: 768px) and (max-width:769px)  {
	.deal-duration {
      top: 8.7em !important;
    bottom: unset !important;
}
}
/* ============================================= Media 1025 - 1180 ================================================  */
@media only screen and (min-width: 1025px) and (max-width:1180px)  {

}
