.mega-menu ul{width:auto !important;}
.nopadding {
   padding: 0 !important;
}
.sub-title{
 padding-bottom: 0; padding-top: 30; margin-left: -20px;
}
.errow-size{
	background-size: 6px 5px, 5px 5px, 3em 3.5em !important;
}