
/*font-family: 'Open Sans', sans-serif;*/
/* font-family:'QuillScript';*/
/*  font-family:'RageItalicRegular'; */
/* QuillScript Font */
@font-face {
 font-family:'QuillScript';
 src:url('fonts/quills/quills.ttf');
 src:url('fonts/quills/quills.otf'), url('fonts/quills/quills.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}
/* Rage Italic */
@font-face {
 font-family:'RageItalicRegular';
 src:url('fonts/rage/RageItalicRegular.ttf');
 src:url('fonts/quills/quills.otf'), url('fonts/rage/RageItalicRegular.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:'Arabic';
 src:url('fonts/arabic/arabtype.ttf');
 src:url('fonts/arabic/arabtype.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:'Amazon Bt';
 src:url('fonts/amazonbt/amazone-bt.ttf');
 src:url('fonts/amazonbt/amazone-bt.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}
* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
html, body {
	width:100%!important;
	height:100%!important;
	overflow-x: hidden;
}
body {
	margin:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
	font-size:16px;
	color:#121212;
}
a {
	text-decoration:none;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition:  color 300ms, background-color 300ms;
	transition:  color 300ms, background-color 300ms;
}
a:hover {
	text-decoration:none;
}
.no-pad {
	padding:0px;
}
.no-margin {
	margin:0px !important;
}
.no-pad-right {
	padding-right:0px;
}
.no-border {
	border:0px !important;
}
.bg-rose {
	background:#fa616b;
	color:#fff;
}
.bg-grey {
	background:#7a7a7a;
	color:#fff;
}
.bg-violet {
	background:#c693be;
}
.bg-tangelo {
	background:#f4b183;
}
.bg-vividblue {
	background:#88d2f4;
}
.text-yellow {
	color:#edc407;
}
.text-blue {
	color:#03486c;
}
.text-red {
	color:#fe345a !important;
}
.page-body {
	padding:40px 0px;
}
/* Select Style */
select.select-style {
	/* styling */
  background-color:#e5e5e5;
	/*  border: thin solid blue; */
/*   border-radius: 4px; */
  display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 6px;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	width:100%;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	/* reset */

  margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select.select-style {
	background-image:
 linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #f65d6f, #f65d6f);
	background-position:
 calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
	background-size:
 6px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
}
select.select-style:focus {
	background-image:
 linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
	background-position:
 calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
	background-size:
 6px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
	border-color: none;
	outline: 0;
}
select.select-style-gray {
	/* styling */
  background-color:#e5e5e5;
	/*  border: thin solid blue; */
/*   border-radius: 4px; */
  display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 6px;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	width:100%;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	/* reset */

  margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select.select-style-gray {
	background-image:
 linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #7a7a7a, #7a7a7a);
	background-position:
 calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
	background-size:
 6px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
}
select.select-style-gray:focus {
	background-image:
 linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, #f65d6f, #f65d6f);
	background-position:
 calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
	background-size:
 6px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
	border-color: none;
	outline: 0;
}
/* Bootstrap Cols */


/* Header */
header {
	background:#400c1d;
}
.top-bar {
	display:block;
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
}
.top-bar h5 {
	color:#fff;
	font-size:12px;
	margin:0;
	padding:8px 0px;
}
.top-right-menu {
	font-weight:600;
	display: block;/* overflow:auto; *//*     
    padding: 05px 0px; */
}
.top-right-menu ul {
	margin:0;
	padding:0;
	float:right;
	min-height:28px;
}
.top-right-menu ul li {
	display:inline-block;
	padding:0px;
	margin:0px;
}
.top-right-menu ul li a {
	font-size:12px;
	color:#fff;
	padding: 8px 10px;
	text-transform: uppercase;
}
.top-right-menu ul li a:hover {
	background:#710c1d;
}
.top-right-menu .fa {
	font-size:12px;
}
/* Search */
.search-block {
	background:transparent;
	display:block;
	padding:0px 0px;
}
.search-dest {
	background:#ffffff;
	padding:16px 10px;
	border: 1px solid #dfdfdf;
	font-weight:400;
	float:left;
	width:75%;
	font-size:14px;
}
.searh-dest:before{
	
	
}
.search-span {
	padding:10px 15px;
	
    text-transform: uppercase;
    color: #242323;
    font-weight: 400;
}
.btn-search {
	background: #ff6145;
	padding:15px 0px;
	border:none;
	color:#fff;
	width:25%;
	text-transform:uppercase;
	font-weight:400;
	font-size:18px;
}
.btn-customize {
	background: #8d270e;
    color: #fff;
    border: 1px solid #8d270e;
	border-radius:0px;
	font-weight:600;
	font-size:18px;
	padding:15px 22px;
	text-transform:uppercase;
}
.input-group {
	width:100%;
}
.main-nav, .header-bottom {
	display: block;
	width: 100%;
	height: auto;
}
/* .main-nav .nav-tabs {
	padding:0px;
}
.main-nav .nav-tabs li {
}
.main-nav .nav-tabs li {
	font-size:14px;
}
.main-nav .nav-tabs li a {
	min-height: 75px; 
	background: transparent;
	font-size: 1.0333em;
	display: block;
	padding: 0 15px;
	font-weight: bold;
	height: 40px;
	text-decoration: none;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	border-radius:0px;
	border-bottom:3px solid transparent; 
}
.main-nav .nav-tabs li.active a {
	 background-color: #75273f;
	border:0px;
	border-bottom: 3px solid #ffe11b; 
	color: #fff;
}
.main-nav .nav-tabs li.active:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid #ffe11b;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	display: block;
	margin: auto;
}
.main-nav .nav-tabs li.active a:before {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffe11b;
} */
/* .main-nav .nav-tabs li p {
	font-size: 13px;
	font-weight: 400;
	margin: 0;
	text-align: center;
	color:#fff;
} */
.text-icon {
	float: none;
	display: inline-block;
	width: 100%;
	height: 22px;
	text-align: center;
	font-weight: 800;
	font-size: 18px;
	margin: 10px 0px 05px 0px;
}
.text-icon i {
	font-size: 25px;
	color:#fff;
}
.search-block label {
	font-size: 14px;
	font-weight: 400;
	margin: 0px 0px 5px 0px;
	color:#fff;
}
.search-block .form-control {
	background: transparent;
	border: 0px;
	border-bottom: 1px solid #fff;
	box-shadow: none;
	border-radius:0px;
	padding:0px;
	height:27px;
	color:#fff;
}
.search-block ::placeholder {
 color:#fff;
 opacity:0.8;
}
.search-head h4 {
	float: left;
	color: #fff;
	font-size: 16px;
	opacity:0.8;
	margin: 0px 0px 10px 0px;
}
.btn-package {
	background: transparent;
	font-size: 14px;
	color:#ffe11b;
	float: left;
	width: 100%;
	font-weight: 600;
	padding:5px 0px;
	border:0px;
	margin: 20px 0px 0px;
	text-transform:uppercase;
}
ul.travel-type {
	list-style:none;
}
ul.travel-type li {
	display:inline;
}
ul.travel-type li a {
	color:#fff;
	font-size: 14px;
	text-transform:uppercase;
	border: 1px solid #fff;
	padding: 01px 10px;
	border-radius: 20px;
	margin: 0px 15px 0px 0px;
}
ul.travel-type li.active a {
	background:#ffe11b;
	border:1px solid #ffe11b;
}
.call-box {
	display: block;
	width: 100%;
	height: auto;
	padding: 7px;
	color: #fff;
	text-align: center;
}
.sp-time {
	border: 1px solid #fff;
	padding: 1px 15px;
	border-radius: 10px;
	font-size: 12px;
}
.sp-whatsapp {
	display: table;
	min-height: 75px;
	text-align:center;
	padding: 0px;
	width:100%;
}
.sp-whatsapp p {
	font-size:14px;
	margin:10px 0px;
	color:#fff;
	display:table-cell;
	vertical-align:bottom;
}
.support {
	display: block;
	width: 100%;
	text-align: center;
	color:#fff;
}
.myaccount {
	display: table;
	min-height: 75px;
	text-align:center;
	padding: 0 05px;
	background: #fff;
	border-radius: 0px;
}
.myaccount a {
	display:table-cell;
	vertical-align:bottom;
	color: #000;
	font-size: 15px;
	text-decoration: none;
	font-weight:600;
	text-transform: uppercase;
}
.notifications {
	display: block;
	width: 100%;
	height:auto;
	padding: 10px 12px;
}
.main-sub-nav {
	display: block;
	position: relative;
	width: 100%;
	padding:10px 0px;
	background: linear-gradient(to right, #ff2682 0%, #ff6541 100%);
}
.btn-hs {
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 0px;
	font-weight: 600;
	font-size: 18px;
	padding: 5px 15px;
	text-transform: uppercase;
	margin: 18px 0px 0px 0px;
}
.holiday-bottom {
	padding:40px 0px 0px 0px;
	background:#fff;
}
.visa-info p {
	display:inline-block;
	float:left;
	font-size:14px;
	color: #fff;
	margin:05px 20px 0px 0px;
}
/* Hotel Booking*/
.hotel-search, .flight-search {
	background:transparent;
}
/* .hotel-search .form-control , .flight-search .form-control , .booking-block-form .form-control , .holiday-listing  .form-control{

background:#e5e5e5;
border-radius:0px;
padding:5px;

border:1px solid #e5e5e5;
box-shadow:none;

} */
.booking-block-form .form-control.input-number {
	text-align:center;
}
 .hotel-search .::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 color: red;
 opacity: 1; /* Firefox */
}
.hotel-search .input-group select:after {
	content: "\f0dd";
	font: 18px FontAwesome;
	color: #333333;
	right: 1px;
	top: 1px;
	padding: 9px 15px 15px;
	position: absolute;
	pointer-events: none;
	background-color: #eee;
	border-radius: 0px 4px 4px 0px;
}
.btn-hotel {
	background: #edc407;
	font-size: 16px;
	text-transform: uppercase;
	float: left;
	width: 100%;
	font-weight:600;
	padding: 5px 0px;
	border: 1px solid #edc407;
}
/* Flight */
.btn-flight {
	background: #edc407;
	font-size: 16px;
	text-transform: uppercase;
	float: left;
	width: 100%;
	font-weight:600;
	padding: 5px 0px;
	margin:20px 0px 0px;
	border: 1px solid #edc407;
}
/* Activity */
.activity-text {
	font-size: 14px;
	font-weight: 200;
	background: #fff;
	border: 1px solid #fff;
	padding: 8px 10px;
	float: left;
	width:100%;
	text-transform:uppercase;
}
.btn-activity {
	background: #edc407;
	font-size: 16px;
	text-transform: uppercase;
	float: left;
	width:100%;
	padding: 7px 0px;
	font-weight:600;
	border: 1px solid #edc407;
}
/* Customize*/

.customize {
	padding:30px 0px;
}
.cust-form {
	display:block;
	overflow:auto;
	padding:30px;
	box-shadow: 3px 3px 3px 3px rgba(235, 235, 235, 1);
}
.customize h2 {
	font-size:32px;
	font-weight:600;
	margin:0;
	padding: 10px 0px 30px 0px;
}
.cust-form .form-group {
	margin-bottom:20px;
}
.cust-form .form-control {
	background: #e5e5e5;
	border-radius: 0px;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	padding: 12px;
	height: auto;
}
.btn-cust {
	width: 100%;
	background: #edc407;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 600;
	box-shadow: none;
	font-size: 18px;
	border: 1px solid #edc407;
	border-radius: 0px;
}
/* Navbar */
.navbar {
	background:#fff;
	margin:0;
}
.navbar-brand {
	min-height:70px;
	padding:0px 0px;
}
.navbar-brand img {
	position:absolute;
	z-index:9999999999;
}
.navbar-nav {
	padding:10px 0px;
}
.navbar-default {
	border:0px;
}
.navbar-default .navbar-nav li a {
	font-size:14px;
	font-weight:600;
	color:#000;
	padding:10px 12px;
	text-transform:uppercase;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color:#000;
	background:none;
}
.nav-tabs li a {
	border:0px;
}
.nav-tabs>li.active>a {
	border:0px;
}
.dropdown-menu > li {
	display: inline-block;
	float:none;
}
.open > ul {
	display: inline-flex !important;
}
.nav-tabs {
	border-bottom: 0px;
}
/* .main-sub-nav ul {
margin:0px;
font-size:14px;
}
.main-sub-nav ul li{
display:inline-block;
padding:10px 12px;
}
.main-sub-nav ul li a{
font-size:14px;
font-weight:400;
color:#000000;
}
.main-sub-nav .active a , .main-sub-nav ul li a:hover {
color:#d53c90;
}
.main-sub-nav {
   
 } */



./* main-sub-nav .dropdown {
    float: left;
    overflow: hidden;
}

.main-sub-nav .dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;

    background-color: inherit;
    font: inherit;
    margin: 0;
}

.main-sub-nav .navbar a:hover, .main-sub-nav .dropdown:hover .dropbtn {
    background-color: red;
}

.main-sub-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
 
    z-index: 1;
}

.main-sub-nav .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.main-sub-nav .dropdown:hover .dropdown-content {
    display: block;
}
 */
/* New Sub Nav */

/* .main-sub-nav.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.main-sub-nav .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-sub-nav .dropdown {
    float: left;
 
}

.main-sub-nav .dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: green;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.main-sub-nav .navbar a:hover, .main-sub-nav .dropdown:hover .dropbtn {
    background-color: red;
}

.main-sub-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.main-sub-nav .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.main-sub-nav .dropdown:hover .dropdown-content {
    display: block;
} */

/* Create three equal columns that floats next to each other */
/* .main-sub-nav .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
}

.main-sub-nav .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.main-sub-nav .column a:hover {
    background-color: #ddd;
}


.main-sub-nav .row:after {
    content: "";
    display: table;
    clear: both;
}
 */

nav {
	/* background: #424242; */
	font-size: 0;
 position: relative;
}
nav > ul {
	margin:0;
}
nav > ul > li {
	display: inline-block;
	font-size: 14px;
/* 	padding: 0 10px; */
	position: relative;
}
nav > ul > li:first-child {
	padding-left: 0;
}
nav > ul > li:last-child {
	padding-right: 0;
}
nav > ul > li > a {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	display: block;
	position: relative;
	padding: 10px 25px;
	text-decoration:none;/* border-bottom: 3px solid transparent; */
}
nav > ul > li:hover > a {
	color:#000;
	position:relative;/* border-bottom: 3px solid #69aae0; */
}
/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
	background: #fff;
	display: none;
	left: 0;
	position: absolute;
	text-align: left;
	padding: 25px 15px;
	border: 1px solid #fff;
	width: 100%;
	z-index:999;
	/* margin-top:10px; */
}
.mega-menu h3 {
	color: #444;
}
.mega-menu ul {
	float: left;
	margin:0px;
	/* width: 205px; */
	list-style:none;
}
.mega-menu ul li {
	padding:0px;
}
/* .mega-menu ul li :before {
	content: "\f111"; 
	font-family: FontAwesome;
	display: inline-block;
	margin:0px 5px;
	font-size:3px;
	vertical-align:middle;
}
.mega-menu ul:last-child {
	margin-right: 0;
} */
.mega-menu a {
	/* border-bottom: 1px solid #ddd; */
 
	    font-size: 12px;
	color: #212221;
	font-weight: 400;
/* 	padding: 10px 0; */
}
.mega-menu a:hover {
	color: #2d6a91;
}
.dropdown-menu-item{
	display:block;
	position:relative;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:15px;
	
}
.dropdown-menu-item h4 {
	
	

	margin-bottom:5px;
	/* padding: 15px 0px; */
}
.dropdown-menu-item h4 a{
	color:#000;
		font-size: 13px;
	font-weight: 600;
	line-height:18px;
		margin: 0px 0px 05px 0px;
}
.megamenu-image-block {
	display:block;
	position:relative;
	width:100%;
	height:auto;
	margin-bottom:20px;
}
.megamenu-image-block h4{
		margin: 10px 0px 05px 0px;
	
}
.megamenu-image-block a{
	color:#000;
		font-size: 13px;
	font-weight: 400;
	line-height:18px;
	
	
}

a.view-tours{
	
    background: transparent;
    border:1px solid #ff6145;
    padding: 10px 0px;
    
    margin:10px 0px;
	font-size:14px;
    color: #ff6145 ;
    display: inline-block;
    text-transform: uppercase;
	min-width:150px;
	
}
a.view-tours:hover{

background:#ff6145;	
color:#fff;
}

/* #Droppable Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.droppable {
	position: static;
}
/* .droppable > a:after {
	content: "\f107";
  	font-family: FontAwesome;
  	font-size: 12px;
  	padding-left: 6px;
  	position: relative;
  	top: -1px;
} */
.droppable:hover .mega-menu {
	display: block;
}
/* #Browser Clearfix
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.cf:after {
	clear: both;
}
/* Banner */
/* .banner{
display:block;
} */

.banner {
	background:url(images/banner-bg.jpg);
	padding:0px 0px;
	min-height:320px;
}
.banner-main {
	display:block;
	/* 	overflow: hidden; */
  position: relative;
	box-sizing: border-box;
	backface-visibility: hidden;
	margin: -290px 0px 30px 0px;
}
.banner-blocks {
	/* border: 1px solid #ebebeb; */
    -webkit-box-shadow: 3px 3px 5px 0px #e0e0e0;
	-moz-box-shadow: 3px 3px 5px 0px #e0e0e0;
	box-shadow: 3px 3px 5px 0px #e0e0e0;
transition: all .5s ease;
	position:relative;
	box-shadow:none;
}
.banner-blocks:hover {
	transform:scale(1.1);
}
.banner-blocks .thumbnail {
	padding: 0px;
	width: 100%;
	margin-bottom: 0px;
	border:0px;
}
.banner-blocks .thumbnail img {
	width:100%;
}
.big-caption {
	color:#fff;
	padding:10px 20px;
}
.big-caption-left {
	border-right: 1px solid #ffb933;
	padding: 0px 6px;
	width: 55%;
}
.big-caption-right {
	padding: 0px 10px;
	width: 45%;
}
.big-caption h4 {
	font-size:14px;
	font-weight:600;
	margin:5px 0px;
}
.big-caption h2 {
	font-size:20px;
	font-weight:600;
	margin:5px 0px;
	text-transform:uppercase;
}
.big-caption h3 {
	font-size:16px;
	font-weight:600;
	margin:5px 0px;
}
.banner-block-left .thumbnail img {
	width:100%;
	padding:0px;
	max-height:270px;
	object-fit:cover;
}
.banner-block-right-top .thumbnail img {
	max-height:140px;
	object-fit:cover;
}
.banner-block-right-top .big-caption {
	color:#fff;
	padding: 3px 20px;
}
.banner-block-right-bottom {
	margin:13px 0px 0px 0px;
}
.banner-block-right-bottom .thumbnail img {
	max-height:130px;
	object-fit:cover;
}
.arrow {
	display:none;
}
.bg-orange {
	background:#ffa800;
}
.bg-blue {
	background:#3d6eeb;
}
.bg-pink {
	background:#eb3d87;
}
.off {
	position: absolute;
	top: 0%;
	left:5%;
}
.bg-orange:before {
	/* z-index: -1; */
    position: absolute;
	top: 72%;
	/* left: 70%; */
    /* margin-left: -25%; */
    content: '';
	width: 0;
	height: 0;
	border-bottom: solid 25px #ffa800;
	border-left: solid 25px transparent;
	border-right: solid 25px transparent;
}
.pink-overlay {
	position: absolute;
	top: 0%;
	background:#eb3d87;
	color: #fff;
	padding: 0px;
}
.pink-skew {
	position: relative;
	color: #FFF;
	padding: 8px 15px;
	z-index: 1;
}
.pink-skew:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	z-index: -1;
	background: #eb3d87;
	transform-origin: bottom left;
	-ms-transform: skew(-25deg, 0deg);
	-webkit-transform: skew(-25deg, 0deg);
	transform: skew(-25deg, 0deg);
}
.pink-overlay h4 {
	text-transform:uppercase;
}
/* SCB */
.scb {
	text-align:center;
	padding:25px 0px;
}
.scb-title {
	font-size:28px;
	font-weight:600;
	text-transform:uppercase;
	padding:10px 0px;
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.scb-desc {
	font-size:14px;
	font-weight:400;
	line-height:22px;
}
/* Hot Deals Title */

.hot-deals {
	display:block;
	padding:25px 0px;
}
span.hot {
	background: red;
	color: #fff;
	font-size: 26px;
	padding: 4px 14px;
	margin: 0px 10px 0px 0px;
	border-radius: 0px 25px 25px 0px;
}
.hot-deals-title {
	font-weight:600;
	font-size:22px;
	color:#828282;
	padding:25px 0px;
	margin:0;
}
.deal-item {
	display:block;
	overflow:auto;
	margin:10px 0px;
}
.deal-blocks {
	padding:25px 0px;
	display: block;
	overflow: auto;
}
.deal-desc {
	padding:10px;/* -webkit-box-shadow: 5px 5px 5px 0px rgba(235,235,235,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(235,235,235,1);
box-shadow: 5px 5px 5px 0px rgba(235,235,235,1); */
}
.deal-duration {
	position: absolute;
	bottom: 33%;
	background: #000;
	opacity: 0.8;
	color: #fff;
	float: left;
	/* padding: 05px; */
    font-size: 14px;
	padding:5px;
}
.deal-duration a {
	color:#fff;
}
.deal-duration:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 15px;
	z-index: -1;
	background: #000;
	transform-origin: bottom right;
	-ms-transform: skew(25deg, 0deg);
	-webkit-transform: skew(25deg, 0deg);
	transform: skew(25deg, 0deg);
}
.deal-desc a {
	font-weight:normal;
	font-size:16px;
	color:#000000;
}
.deal-desc p {
	font-weight:300;
	font-size:12px;
	margin:05px 0px;
	color:#000000;
}
.view-more {
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	text-align:center;
	padding:10px 0px;
}
.view-more a {
	color:#000000;
}
.hot-deals .thumbnail {
	padding:0px;
	border:1px solid #ebebeb;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
	box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
}
.hot-deals .thumbnail img {
	min-height:221px;
}
/* Hotel Deals */

/* Carousel */

/* Owl Carousel */
.owl-prev {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 45%;
	margin-left: 0px;
	display: block!IMPORTANT;
	border:0px solid black;
	background:#fff !important;
	opacity:0.8;
	color:#000;
}
.owl-next {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 45%;
	right: 0px;
	display: block!IMPORTANT;
	border:0px solid black;
	background:#fff !important;
	opacity:0.8;
	color:#000;
}
.owl-prev i, .owl-next i {
	color: #000;
}
/* .owl-nav{
display:none;
} */
.owl-dots {
	text-align:center;
	padding:25px 0px;
}
.owl-carousel button.owl-dot {
	background: #f5b8ca;
	color: green;
	width: 10px;
	height: 10px;
	border: none;
	margin:0px 05px;
	padding: 0 !important;
	font: inherit;
}
.owl-carousel button.owl-dot.active {
	background: #cc3399;
}
.hotel-deals-title {
	font-size:28px;
	text-transform:uppercase;
	float:left;
	font-weight:600;
	padding:25px 15px;
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hotel-deals .thumbnail {
	border:1px solid #e5e5e5;
	padding:0px;
	border-radius:0px;
}
.hotel-deals .thumbnail img {
	width:100%;
	min-height:245px;
}
.hotel-deals .hotel-name a {
	font-size:18px;
	font-weight:600;
	color:#000;
	text-transform:capitalize;
	margin:5px 0px;
}
.hotel-deals .hotel-location {
	font-size:14px;
	font-weight:200;
	margin:5px 0px;
}
.hotel-deals .hotel-time {
	font-size:12px;
	font-weight:200;
	color:#c3c3c3;
	text-transform:uppercase;
	margin:5px 0px;
}
.hotel-deals .hotel-price {
	font-size:18px;
	font-weight:600;
	margin:5px 0px;
}
.hotel-deals .hotel-reviews {
	margin:5px 0px;
}
.hotel-deals .hotel-review-count {
	font-size:12px;
	font-weight:200;
	color:#c3c3c3;
	text-transform:uppercase;
}
.hotel-deals .hotel-desc {
	font-size:12px;
	color:#c3c3c3;
}
.hotel-deals .btn-select {
	background:#e5e5e5;
	border:0px;
	width:100%;
	border-radius:0px;
	padding:10px 0px;
	margin:05px 0px;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	color:#8a8a8a;
}
.hotel-deals .btn-view {
	background:#f86755;
	border:0px;
	color:#fff;
	width:100%;
	border-radius:0px;
	padding:10px 0px;
	margin:05px 0px;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}
.hotel-deals .btn-view:hover {
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
}
.fa-yellow {
	color:#edc407;
}
/* Featured Activities*/
.feature-activities {
	display:block;
	overflow:auto;
	padding:25px 0px;
}
.feature-activities .thumbnail {
	border:0px;
	padding:0px;
}
.feature-activities .thumbnail img {
	width:100%;
	max-height: 182px;
	object-fit: cover;
}
.feature-activities .thumbnail .caption {
	padding:0px;
}
.activity-overlay {
	position: absolute;
	top: 20%;
	background: #000;
	display:none;
	opacity: 0.8;
	color: #fff;
	padding: 8px 25px;
}
.activity-location h4 {
	font-size:16px;
	font-weight:600;
	color:#edc407;
	margin:2px 0px;
}
.activity-count h5 {
	font-size:12px;
	font-weight:400;
	margin:2px 0px
}
.activity-details {
	background:#ebebeb;
	padding:10px 0px;
	display: block;
	overflow: auto;
	border-bottom: 1px solid #fff;
}
.activity-name a {
	font-size:14px;
	font-weight:200;
	color:#757575;
}
.activity-name a:hover {
	color:#cc3399;
	font-weight:600;
}
.activity-price h5 {
	font-size:12px;
	margin:0px;
}
.activity-price h4 {
	font-size:16px;
	color:#cc3399;
	margin:0;
	font-weight:200;
	text-transform:uppercase;
}
/* Footer */

/* Subscribe */
.subscribe {
	display:block;
	overflow:auto;
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
	padding:19px 0px;
}
.subscribe-text h2 {
	margin:0px;
	color:#fff;
	font-size:26px;
	float:right;
	margin:5px 0px;
	font-family:QuillScript;
}
.subscribe-email {
	font-size:14px;
	font-weight:200;
	background:#fff;
	border:1px solid #fff;
	padding:8px 10px;
	float:left;
	width:72%;
}
.btn-subscribe {
	background:#edc407;
	font-size: 16px;
	text-transform: uppercase;
	float:left;
	width:27%;
	padding: 7px 0px;
	border: 1px solid #edc407;
}
.footer-top {
	display:block;
	overflow:auto;
	padding:25px 0px;
}
.footer-top-blocks {
	padding:15px 0px;
}
.footer-top-title {
	font-size:16px;
	text-transform:uppercase;
	color:#000000;
	font-weight:600;
	margin: 0;
	padding: 20px 0px;
}
.footer-top-desc {
	font-size:12px;
	font-weight:400;
	color:#7f7f7f;
	line-height:27px;
}
.footer-social ul li {
	display:inline-block;
	padding:10px 5px;
}
.footer-social ul li a {
	color:#fff;
	font-size:18px;
}
.footer-social .fa {
	padding: 12px;
	border-radius: 50%;
	width: 40px;
	text-align:center;
	height: 40px;
	color: #fff;
}
.fa-facebook {
	background:#4e71a8;
}
.fa-twitter {
	background:#1cb7eb;
}
.fa-google-plus {
	background:#e3411f;
}
.fa-instagram {
	background:#444444;
}
.fa-youtube {
	background:#ca3737;
}
.footer-top-links ul {
	display:inline;
	list-style:none;
}
.footer-top-links ul li {
	padding:5px 0px;
}
.footer-top-links ul li :before {
	content: "\f0da"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin:0px 5px;
}
.footer-top-links ul li a {
	font-size:12px;
	font-weight:400;
	color:#7f7f7f;
	text-transform:uppercase;
}
.footer-address-block .footer-address {
	font-size:12px;
	text-transform:uppercase;
	color:#7f7f7f;
}
.footer-address-block p {
	font-size:12px;
	line-height:23px;
	color:#7f7f7f;
}
/* Footer Bottom */
.footer-bottom {
	display:block;
	overflow:auto;
	background:url(images/footer-bottom-bg.jpg) center center no-repeat;
	background-size:cover;
}
.footer-nav {
	padding:50px 0px;
	display:block;
	overflow:auto;
}
.footer-bottom-block h3 {
	font-size:14px;
	font-weight:600;
	color:#000;
}
.footer-bottom-block ul {
	display:inline;
	list-style:none;
}
.footer-bottom-block ul li {
	padding:05px 0px;
}
.footer-bottom-block ul li a {
	font-size:12px;
	font-weight:200;
	color:#000000;
}
.footer-bottom-block ul li a:hover {
	color:#03486c;
}
.footer-bottom-block ul li :before {
	content: "\f111"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin:0px 5px;
	vertical-align:middle;
	font-size:3px;
}
.footer-copyright {
	display:block;
	overflow:auto;
	padding:10px 0px;
	border-top:2px solid #cccccc;
}
.footer-copyright p {
	font-size:12px;
	font-weight:600;
	color:#bcbcbc;
	margin:0;
	padding:10px 0px;
}
ul.footer-payment {
	margin:0px;
	float:right;
}
ul.footer-payment li {
	display:inline-block;
	padding:0px 10px;
}
/* Booking */
.inner-breadcrumbs {
	display:block;
	background:#e5e5e5;
}
.inner-breadcrumbs-nav ul {
	list-style:none;
	padding:10px 0px 0px 0px;
	margin:0;
	line-height:12px;
}
.inner-breadcrumbs-nav ul li {
	display:inline-block;
}
.inner-breadcrumbs-nav li:after {
	content: "\f105"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	padding:0px 3px;
	color:#2c2d2d;
	vertical-align: middle;
}
 .inner-breadcrumbs-nav li:last-child::after {
 content: '';
}
/* .inner-breadcrumbs .inner-breadcrumbs-block .inner-breadcrumbs-nav ul > li:last-child :after{
display:none;
} */
 .inner-breadcrumbs-nav ul li a {
	font-size:12px;
	color:#2c2d2d;
}
.inner-breadcrumbs .inner-breadcrumbs-block .inner-breadcrumbs-page-title h2 {
	font-size:26px;
	font-weight:600;
	color:#000;
	margin:0px;
	line-height:26px;
	padding:23px 0px;
	text-transform:uppercase;
}
.inner-breadcrumbs .inner-breadcrumbs-block .inner-breadcrumbs-page-title p {
	font-size:14px;
	font-weight:400;
	color:#000;
	margin:0px;
	padding:10px;
}
.booking {
	display:block;
	padding:15px 0px;
}
.booking-title {
	font-size:16px;
	font-weight:600;
	margin:0;
	float:left;
	padding:15px 0px;
	text-transform:uppercase;
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.booking-block {
	border:1px solid #cccccc;
	padding:0px;
}
.booking-block-title {
	padding:20px;
	border-bottom:1px solid #a3a3a3;
}
.booking-block-title h3 {
	color:#7f7f7f;
	margin:0px;
	font-weight:600;
	font-size:16px;
	line-height:16px;
	text-transform:uppercase;
}
.booking-block-container {
	display:block;
	padding:15px 20px 50px 20px;
	overflow:auto;
}
.booking-block-details-title h4 {
	font-size:14px;
	font-weight:normal;
	line-height:14px;
	text-transform:uppercase;
	color:#b2b2b2;
	margin:0;
}
.booking-block-form {
	display:block;/* padding:10px 0px; */
}
.booking-form-padding {
	padding:10px 0px;
}
.booking-fare-total {
	padding: 15px 20px;
	border-top:1px solid #a3a3a3;
}
.booking-fare-list .fare-type, .booking-fare-list .fare-amount {
	color:#000;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}
.booking-fare-list .fare-amount {
	text-align:right;
}
.booking-fare-total .fare-total, .booking-fare-total .fare-total-amount {
	font-size:22px;
	font-weight:600;
	margin:0;
	text-transform:uppercase;
}
.booking-fare-total .fare-total-amount {
	text-align:right;
}
.booking-payment {
	padding:20px 0px;
}
.btn-payment {
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	font-weight:600;
	line-height:10px;
	background: linear-gradient(to right, #cf2f8a 0%, #fe6567 100%);
	padding:15px 30px;
	border:0px;
	border-radius:0px;
}
.booking-details {
	display:block;
	padding:60px 0px;
}
.booking-details .nav-pills>li>a {
	font-size:16px;
	color:#cccccc;
	font-weight:600;
	line-height:16px;
	text-transform:uppercase;
	padding:10px 25px 10px 0px;
}
.booking-details .nav-pills>li>a:hover {
	background:transparent;
}
.booking-details .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background:transparent;
	color:#000000;
}
.hotel-details {
	padding:25px 20px;
}
.hotel-details .hotel-location h3 {
	color:#7f7f7f;
	font-size:16px;
	font-weight:600;
	text-transform:capitalize;
	margin:0;
}
.hotel-booking-data {
/* border-bottom:1px solid #cccccc; */

}
.hotel-booking-data h1, h2, h2, h4, h5, h6 {
	margin: 0px 0px 12px 0px;
	font-size:14px;
}
.hotel-booking-data .stay-time {
	color:#999999;
}
.hotel-booking-data .hotel-name {
	font-weight:200;
	color:#a1a1a1;
	text-transform:uppercase;
}
.room-type-title, .meal-type-title, .checkin-title, .rating-title {
	color:#7f7f7f;
	font-weight:600;
	text-transform:uppercase;
}
.room-type, .meal-type, .checkin-time {
	font-weight:200;
}
.rating-title {
	font-weight:normal;
	text-transform:capitalize;
}
.rating .fa {
	color:#ffc77f;
}
.btn-hbi {
	border: 1px solid #cccccc;
	padding: 9px 17px;
	border-radius:0px;
	text-transform: uppercase;
	color: #7f7f7f;
	font-size:14px;
	font-weight:600;
}
.hbi-title {
	color:#000;
	font-size:16px;
	font-weight:normal;
	margin:0px;
	padding:10px 0px;
}
.hbi-desc {
	color:#a1a1a1;
	font-weight:200;
	font-size:12px;
	padding:10px 0px;
	line-height:24px;
}
.holiday-booking-itineray {
	padding:25px 0px;
	display: block;
}
.holiday-booking-inc {
	padding:25px 0px;
	display: block;
	overflow: auto;
}
.holiday-booking-flight {
	padding:15px;
	display: block;
	overflow: auto;
}
.flight-line {
	background: #ccc;
	display: block;
	height: 2px;
	width: 100%;
	margin: 6px 0px;
}
.flight-line:before {
	content: "\f111";
	font-family: FontAwesome;
	display: inline-block;
	color:#ccc;
	margin: -6px 0px;
	position: absolute;
	/* vertical-align: middle; */
    font-size: 10px;
}
.flight-line:after {
	content: "\f111";
	font-family: FontAwesome;
	display: inline-block;
	color:#ccc;
	margin: -6px 0px;
	right: 10px;
	position: absolute;
	/* vertical-align: middle; */
    font-size: 10px;
}
.holiday-booking-flight .flight-departure {
	color:#565656;
	font-weight:200;
	font-size:14px;
	margin:0;
	padding:10px 0px;
}
.holiday-booking-flight .hb-flight-operator {
	padding:10px 0px;
}
.holiday-booking-flight .hb-flight-operator h3 {
	color:#000000;
	font-size:12px;
	font-weight:normal;
	margin:0;
	padding:10px 0px 3px 0px;
	text-transform:uppercase;
}
.holiday-booking-flight .hb-flight-operator h4 {
	color:#000000;
	font-size:12px;
	font-weight:200;
	margin:0;
	padding:3px 0px;
}
.holiday-booking-flight .flight-class {
	font-size:12px;
	font-weight:200;
	color:#909090;
	margin:0;
	padding:5px 0px;
	text-align:center;
}
.holiday-booking-flight .flight-class i {
	color:#909090;
}
.holiday-booking-flight .flight-sdp {
	color:#000;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	margin:0;
	padding:0px 0px;
}
.holiday-booking-flight .flight-sdt {
	color:#7f7f7f;
	font-size:14px;
	font-weight:400;
	margin:0;
	padding:05px 0px;
}
.holiday-booking-flight .flight-terminal {
	color:#909090;
	font-weight:200;
	font-size:14px;
	margin:0;
	padding:05px 0px;
}
/*Testimonials */


.page-breadcrumbs {
	display:block;
	width:100%;
	height:auto;
	min-height:280px;
	background:url(images/breadcrumbs/breadcrumbs-bg.jpg);
	background-size:cover;
}
.breadcrumbs-block {
	display:block;
	text-align:center;
	background: linear-gradient(to right, #cc3399 0%, #fc6369 100%);
	padding:10px;
}
.breadcrumbs-container {
	padding:25px;
	border:1px solid #fff;
}
.breadcrumbs-container h2 {
	color:#edc407;
	font-weight:normal;
	font-size:85px;
	margin:0;
	font-family:RageItalicRegular;
}
.breadcrumbs-container p {
	font-size:14px;
	font-weight:200;
	color:#fff;
	margin:0;
	padding:0px 10px;
}
.testsimonials-block {
	padding:20px 0px 80px 0px;
}
.testimonials-container {
	display: -webkit-flex; /* Safari */
	display: flex;
}
.test-block {
	display:block;
	width:100%;
	height:auto;
	border:1px solid #cccccc;
	padding:10px;
	text-align:center;
	margin:20px 0px;
}
.test-image img {
	width:100%;
	height:auto;
	display:block;
	min-height: 234px;
	object-fit: cover;
}
.test-desc p {
	color:#a1a1a1;
	font-size:12px;
	margin:0;
	font-weight:200;
	padding:15px;
}
.test-rm a {
	color:#03486c;
	font-size:12px;
	font-weight:600;
}
/* Holiday Booking */



 /* Holiday Listing */
 
 
 .holiday-listing {
	padding:60px 0px;
}
.holiday-list-search {
	padding: 5px 0px;
	display: block;
	overflow: auto;
}
.holiday-list-item {
	display:block;
	border:1px solid #cccccc;
	margin:30px 0px;
	/* padding:10px ; */
 overflow:auto;
}
.holiday-list-item .holiday-place-image {
	padding:10px;
}
.holiday-list-item .holiday-place-image img {
	width:100%;
	height:228px;
	min-height:228px;
	object-fit:cover;
}
.holiday-tour-deatils {
	padding:10px;
}
.holiday-tour-deatils .holiday-name-duration {
	display:block;
	padding:0px 0px 0px 0px;
}
.holiday-tour-deatils .holiday-name h3 {
	color:#000;
	font-weight:600;
	font-size:18px;
	margin:0;
}
.holiday-tour-deatils .holiday-duration h4 {
	color:#000;
	font-weight:400;
	font-size:16px;
	margin:0;
	padding:10px 0px;
}
.holiday-tour-deatils .holiday-duration .holiday-tour-rating .fa {
	color:#edc407;
	font-weight:400;
	font-size:16px;
}
.holiday-tour-deatils .holiday-packages {
	display:block;
	padding:5px 0px;
}
.holiday-tour-deatils .holiday-packages .radio-inline {
	font-size:12px;
	font-weight:200;
	color:#000;
	padding-right:0px;
	margin-left: 0px
}
.radio-inline input[type=radio] {
	margin:1px 0px 0px -20px;
	width: 15px;
	height: 15px;
}
.holiday-tour-deatils .holiday-packages-details {
	display:block;
	padding:0px;
}
.holiday-tour-deatils .holiday-packages-details h4 {
	font-size:12px;
	color:#000;
	font-weight:200;
	margin:0;
}
.holiday-tour-deatils .holiday-packages-details .table {
	margin:0px 0px 10px 0px;
}
.holiday-tour-deatils .holiday-packages-details .table>tbody>tr>td {
	border:0px;
	vertical-align:middle;
	padding:5px 0px;
}
.holiday-tour-deatils .holiday-packages-details .table tr {
	border-bottom:1px solid #cccccc;
}
.holiday-tour-deatils .holiday-packages-details .fa {
	font-size:12px;
	color:#edc407;
}
.holiday-tour-deatils .holiday-packages-details .table tr:last-child {
	border-bottom:none;
}
.holiday-package-facilities ul {
	list-style:none;
	padding: 10px 0px 0px 0px;
	margin: 0px;
}
.holiday-package-facilities ul li {
	display:inline-block;
}
.holiday-package-facilities ul li a {
	color:#000;
	font-weight:200;
	font-size:14px;
	padding:0px 10px 0px 0px;
}
.holiday-package-facilities ul li a i {
	padding:0px 5px 0px 0px;
	color:#70be35;
}
.holiday-tour-fare {
	float:right;
	padding:10px 0px;
}
.holiday-tour-fare .actual-fare h4 {
	color:#7e7e7e;
	text-decoration:line-through;
	font-size:12px;
	font-weight:600;
	margin:0px;
	text-align:left;
}
.holiday-tour-fare .discount-fare h2 {
	color:#e31919;
	font-size:28px;
	font-weight:600;
	margin:0px;
}
.holiday-tour-fare .toal-persons h4 {
	color:#000;
	font-size:12px;
	font-weight:200;
	margin:0px;
	text-align:center;
}
.inquire {
	padding:10px 0px;
}
.btn-holiday {
	color:#fff;
	font-size:16px;
	font-weight:600;
	background:#f65d6f;
	padding: 10px 25px;
	border: 0px;
	line-height:20px;
}
.btn-holiday:hover {
	background: linear-gradient(to right, #cf2f8a 0%, #fd6468 100%);
}
.add-compare {
	padding:20px 0px;
	text-align:center;
}
.add-compare a {
	color:#51a103;
	font-weight:400;
	font-size:16px;
	margin:0;
}
/* Holiday Details */
 .modify-collapse {
	padding:10px 0px;
}
.btn-bred-modify-search {
	font-size:16px;
	color:#fff;
	text-transform:capitalize;
	padding: 7px;
	border-radius: 0;
	background:#727272;
}
.btn-bred-modify-search:hover, .btn-bred-modify-search:focus {
	color:#fff;
}
.modify-search {
	background:#fdced3;
	padding:10px 0px;
}
.btn-modify-search {
	background:#90797b;
	font-size:16px;
	text-transform:capitalize;
	padding: 5px 19px;
	float: right;
	color: #fff;
	border-radius: 0;
}
.holiday-details {
	padding:40px 0px;/* border:1px solid #000;
 */
}
.holiday-details-title {
	font-size:22px;
	text-transform:uppercase;
	float:left;
	margin:0;
	padding:10px 0px;
	font-weight:600;
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.holiday-details-nav ul {
	list-style:none;
	margin: 0;
	padding: 10px 0px;
}
.holiday-details-nav ul li {
	display:inline-block;
	list-style:none;
}
.holiday-details-nav ul li a {
	font-size:16px;
	color:#c3c3c3;
	padding:0px 27px;
}
.holiday-details-nav ul li a.active {
	font-size:16px;
	color:#222121;
}
.holiday-detail-duration {
	position: absolute;
	top: 0%;
	background: #415f7b;
	color: #fff;
	padding: 0px;
}
.holiday-details-carousel .thumbnail {
	margin:0px;
	padding:0px;
	border:0px;
}
.holiday-details-carousel .thumbnail img {
	padding:0px;
	border:0px;
	height:380px;
	max-height:380px;
	margin:0px;
	object-fit: cover;
}
.holiday-detail-duration .deal-desc {
	position: relative;
	color: #FFF;
	padding: 15px 25px;
	z-index: 1;
}
.holiday-detail-duration .deal-desc h4 {
	font-size:16px;
	font-weight:600;
	color:#fff;
	margin:0;
}
.holiday-detail-duration .deal-desc:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	z-index: -1;
	background: #415f7b;
	transform-origin: bottom left;
	-ms-transform: skew(-25deg, 0deg);
	-webkit-transform: skew(-25deg, 0deg);
	transform: skew(-25deg, 0deg);
}
.holiday-details-desc {
	padding:15px;
	background:#5c2d4a;
	height:380px;
	min-height:380px;
}
.holiday-details-packages input[type=radio] {
	margin:0px;
	/*     vertical-align: middle; */
width:15px;
	height:15px;
}
.holiday-details-packages .radio-buttons {
	padding:05px 0px;
}
.holiday-details-packages .radio-buttons h4 {
	text-indent:10px;
	font-size: 14px;
	color:#fff;
	font-weight: 200;
	margin:0 0px 05px 0px;
}
.holiday-details-desc .holiday-details-packages .table tr {
	border-bottom: 1px solid #7d576e;
}
.holiday-details-desc .holiday-details-packages .holiday-carousel-packages {
	padding:25px 0px;
}
.holiday-details-desc .holiday-details-packages .table tr:last-child {
	border-bottom:none;
}
.holiday-details-desc .holiday-details-packages .table>tbody>tr>td {
	border: 0px;
	vertical-align: middle;
	padding: 5px 0px;
}
.holiday-details-desc .holiday-details-packages .table h4 {
	color:#fff;
	margin:0px;
	font-size:12px;
	font-weight:200;
}
.holiday-details-desc .holiday-details-packages .holiday-details-fare {
	display:block;
	padding:15px 0px;
}
.holiday-details-fare .actual-fare h4 {
	color:#fff;
	text-decoration:line-through;
	font-size:12px;
	font-weight:600;
	margin:0px;
	padding:02px 0px;
}
.holiday-details-fare .discount-fare h2 {
	color:#fff;
	font-size:28px;
	font-weight:600;
	margin:0px;
	padding:02px 0px;
}
.holiday-details-fare .toal-persons h4 {
	color:#fff;
	font-size:12px;
	font-weight:200;
	margin:0px;
	padding:02px 0px;
}
.btn-holiday-details {
	color:#fff;
	font-size:16px;
	font-weight:600;
	padding: 10px 25px;
	border: 0px;
	line-height:20px;
	background: linear-gradient(to right, #cf2f8a 0%, #fd6468 100%);
}
.btn-holiday-details:hover {
	background:#f65d6f;
}
.holiday-details .inquire h4 {
	color:#fff600;
	font-size:12px;
	font-weight:200;
	padding:5px 0px;
	text-align:center;
	margin:0;
}
.holiday-details-info-title {
	padding:10px 0px;
	width:100%;
}
.holiday-details-info-title h3 {
	font-size:18px;
	float:left;
	font-weight:600;
	text-transform:uppercase;
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.holiday-details-info-desc p {
	padding:05px 0px;
	color:#565757;
	font-weight:200;
	font-size:14px;
	margin:0;
	text-align:justify;
	line-height:23px;
}
.holiday-hotel-carousel-item h3 {
	font-size:16px;
	color:#000;
	font-weight:600;
	margin:0;
	text-transform:uppercase;
	padding:10px 0px;
}
.holiday-hotel-carousel-item .thumbnail {
	padding:0px;
	border:0px;
	margin:0px;
	border-radius:0px;
}
.holiday-hotel-carousel-item .thumbnail img {
	height: 137px;
	max-height: 137px;
	object-fit: cover;
}
.hh-details .hh-title h4 {
	font-size:14px;
	font-weight:600;
	margin:0;
	text-transform:uppercase;
}
.hh-details .hh-rating {
	padding:10px 0px;
}
.hh-details .hh-rating .fa {
	color:#edc407;
}
.hh-details .hh-location h4, .hh-details .hh-room h4 {
	font-size:12px;
	color:#000;
	font-weight:200;
	margin:0;
	padding:5px 0px;
	text-transform:uppercase;
}
.hh-package-facilities ul {
	list-style:none;
	padding: 10px 0px 0px 0px;
	margin: 0px;
}
.hh-package-facilities ul li {
	display:inline-block;
}
.hh-package-facilities ul li a {
	color:#000;
	font-weight:200;
	font-size: 12px;
	padding:0px 10px 0px 0px;
}
.hh-package-facilities ul li a i {
	padding:0px 5px 0px 0px;
	color:#70be35;
}
.holiday-hotel-carousel .owl-prev {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 45%;
	left: -10%;
	/* margin-left: 0px; */
    display: block!IMPORTANT;
	border: 0px solid black;
	background: #cccccc !important;
	opacity: 0.8;
	color: #fff;
}
.holiday-hotel-carousel .owl-next {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 45%;
	right: -10%;
	/* margin-left: 0px; */
    display: block!IMPORTANT;
	border: 0px solid black;
	background: #cccccc !important;
	opacity: 0.8;
	color: #fff;
}
.holiday-hotel-carousel .owl-prev i, .holiday-hotel-carousel .owl-next i {
	color: #fff;
}
.hh-inc-enc h4 {
	font-size:16px;
	color:#000;
	font-weight:normal;
	margin:0;
	padding:10px 0px;
}
.hh-inc-enc ul {
	list-style:none;
	margin:0;
	border-bottom:0px !important;
}
.hh-inc-enc ul li {
	/* display:inline; */
 font-size:14px;
	padding:3px 0px;
	font-weight:200;
	color:#000;
	line-height:21px;
}
.hh-inc-enc ul li:before {
	content: "\f111";
	font-family: FontAwesome;
	display: inline-block;
	margin: 0px 5px 0px 0px;
	vertical-align: middle;
	font-size: 3px;
}
.hh-booking-detail h4 {
	font-size:14px;
	padding:5px 0px;
	font-weight:200;
	color:#000;
	margin:0;
}
.btn-hd {
	background: #fe6567;
	color: #fff;
	font-size: 16px;
	width:190px;
	border: 0px;
	border-radius: 0px;
	padding: 12px 45px;
	font-weight:600;
}
.btn-hd:hover {
	background: linear-gradient(to right, #cf2f8a 0%, #fd6468 100%);
	color:#fff;
}
.hh-itinerary {
	padding:10px 0px;
}
.hh-itinerary .hh-itinerary-desc p {
	font-size:14px;
	color:#000;
	font-weight:200;
	margin:0;
	text-align:justify;
}
.accordion-icon {
	float:right;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: transparent;
	padding:25px 0px;
	border: 0px;
	box-shadow: none;
}
.panel-body {
	padding:10px 0px
}
.panel-group .panel {
	margin-bottom: 0;
	border-radius: 0px;
	border: 0px;
	box-shadow:none;
}
.panel-group {
	margin-bottom: 20px;
	box-shadow: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border:0px;
}
.accordion-title {
	font-size: 18px;
	float: left;
	font-weight: 600;
	text-transform: uppercase;
	background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.accordion-inner-title {
	font-size: 16px;
	float: left;
	font-weight: 600;
	text-transform: uppercase;
	color:#000;
}
/* Reset Select */
/* .modify-search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  
  background-image: none;
}

.modify-search .select {
  position: relative;
  display: block;
    width: 100%;
  height: 3em;
  line-height: 3;

    font-size: 14px;
    line-height: 1.42857143;

}
.modify-search  select {
  width: 100%;
  height: 100%;
  margin: 0;
 color:#000;
  line-height:10px;
  border-radius:0px;
  cursor: pointer;
}
.modify-search  select::-ms-expand {
  display: none;
}

.modify-search  .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  font-size:12px;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: #f65d6f;
  color:#fff;
  pointer-events: none;
}

.modify-search  .select:hover::after {
  color: #fff;
}
.modify-search  .select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
} */


/* About Us */


.about-breadcrumbs {
	padding:20px 0px;
	background:url("images/about/about-nav-bg.jpg");
	background-size:cover;
}
.about-center {
	margin:50px;
}
.about-logo {
	padding: 50px 50px;
	background: url(images/about/about-us.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.about-desc p {
	color:#03486c;
	font-size:12px;
	font-weight:600;
	margin:0;
	line-height:16px;
	text-align:justify;
	padding:10px 0px;
}
.about-travel-title h2 {
	margin: 0;
	font-size: 78px;
	text-transform: uppercase;
	color: #03486c;
	font-weight: 600;
}
.aw-main-block {
	padding:50px;
}
.aw-title {
	padding:20px 0px;
}
.aw-block {
	display: block;
	overflow: auto;
}
.aw-block h2 {
	font-size:26px;
	font-weight:600;
	color:#aeaeae;
	margin:0;
	padding:10px 0px;
	text-transform:uppercase;
}
.aw-block h2::nth-letter(1) {
 color:red;
}
.aw-block p {
	color:#b2b2b2;
	font-size:12px;
	font-weight:200;
	margin:0;
	padding:5px 0px;
}
.about-icon-block {
	padding:15px 0px;
	display: block;
	overflow: auto;
}
.aw-icon {
	padding: 15px 15px;
}
.aw-icon-img img {
	border: 1px solid #cfcfcf;
	border-radius: 50%;
	padding: 13px;
	background:#ffffff;
}
.aw-icon-desc {
	padding:20px 0px;
}
.aw-icon-desc p {
	font-size: 12px;
	color: #222222;
	font-weight: 200;
	/*  padding: 15px 10px; */
    margin: 0;
	text-align: -webkit-center;
}
.about-services {
	display: block;
	background: linear-gradient(to right, #da418b 0%, #fc6369 100%);
	padding:50px 0px;
}
.as-block-title h2 {
	color:#fff;
	font-size:26px;
	margin:0px;
	padding:25px 0px;
	text-transform:uppercase;
	font-weight:600;
}
.as-block-title p {
	color:#efa3c3;
	font-size:16px;
	font-weight:200;
	margin:0;
	text-align:center;
	padding:0px 25px;
	line-height:25px;
}
.as-count-block {
	padding:50px 0px;
}
.as-count {
	background: #ffffff;
	text-align: center;
	padding:20px 10px;
	margin:10px 0px;
}
.as-count h2 {
	font-size: 30px;
	text-transform: uppercase;
	/*     float: left; */
    margin: 0;
	padding: 05px 0px;
	font-weight: 600;
	color:#cf3696;/*   background: linear-gradient(to right, #cf3696 0%, #ed5478 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.as-count h3 {
	font-size:16px;
	color:#b4b4b4;
	font-weight:200;
	margin:0px;
	text-transform:uppercase;
	padding:05px 0px;
}
.plus {
	color:#fb626a;
}
.about-mv {
	padding: 60px 0px;
}
.about-mv-main {
	display:block;
	padding: 90px 0px 25px 0px;
}
.about-mv-block {
	border:1px solid #cfcfcf;
	text-align:center;
	padding: 35px 10px;
}
.about-mv-block h4 {
	color:#1660b9;
	font-weight:normal;
	font-size:14px;
	margin:0;
	padding:25px 0px 0px 0px;
	text-transform:capitalize;
}
.about-mv-block p {
	color:#7f7f7f;
	font-weight:normal;
	font-size:12px;
	margin:0;
	padding:10px 0px;
}
.mv-absolute {
	position: absolute;
	left: 35%;
	top: 10%;
	display: block;
}
.about-testimonials {
	background:url("images/about/testimonials/testi-bg.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 25px 0px;
}
.testi-carousel .owl-item img {
	width:50px;
	height:50px;
	background: #fff;
	border-radius: 50%;
	object-fit: cover;
}
.testi-block-title {
	color:#fff;
	font-size:26px;
	font-weight:600;
	text-transform:uppercase;
	margin:0;
	padding:10px 0px;
}
.testi-comments {
	font-size:14px;
	font-weight:600;
	color:#fff;
	margin:0;
	padding:25px 0px;
	text-align:center;
}
.testi-details h3 {
	color:#f6ff00;
	font-size:16px;
	font-weight:600;
	margin:0;
	padding:5px 0px;
}
.testi-details h4 {
	color:#ffffff;
	font-size:14px;
	font-weight:600;
	margin:0;
	padding:5px 0px;
}
.testi-carousel .owl-prev {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 20%;
	margin-left: 0px;
	display: block!IMPORTANT;
	border: 0px;
	background: transparent !important;
	opacity: 0.8;
	color: #fff !important;
}
.testi-carousel .owl-next {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 20%;
	right: 0px;
	display: block!IMPORTANT;
	border: 0px solid black;
	background: transparent !important;
	opacity: 0.8;
	color: #fff
}
.testi-carousel .owl-prev i, .testi-carousel .owl-next i {
	color: #fff;
	font-size:38px;
}
.about-partners {
	padding:60px 0px;
}
.ap-title {
	padding:15px 0px;
}
.ap-title h2 {
	font-size:26px;
	font-weight:600;
	color:#e6132c;
	margin:0;
	padding:15px 0px;
	text-align:center;
	text-transform:uppercase;
}
.ap-title p {
	font-size:14px;
	color:#7f7f7f;
	font-weight:400;
	margin:0;
	text-align:center;
	padding: 0px 45px;
	line-height: 25px;
}
.ap-carousel {
	padding:25px 0px;
}
.ap-carousel .thumbnail {
	border: 0px;
	padding: 10px 15px;
}
.ap-carousel .thumbnail img {
	max-width:100%;
	width:auto;
	height:auto;
}
.ap-carousel .owl-prev i, .ap-carousel .owl-next i {
	color:#03486c;
	font-size:38px;
}
/* DashBoard */
.dashboard-tabs {
	display:block;
	width:100%;
	height:auto;
	box-sizing:border-box;
}
.dashboard-tabs-heading {
	background: #e5e5e5;
	display: block;
	height: auto;
	overflow: auto;
	width: 100%;
	padding:10px 0px;
}
.dashboard-tabs-heading .dashboard-title {
	font-size:26px;
	font-weight:600;
	line-height:31px;
	margin:0;
	/* padding: 10px 0px; */
background: linear-gradient(to right, #cf2f8a 0%, #ee0a0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.dashboard-tabs .nav-pills>li>a {
	font-size:14px;
	color:#000;
	font-weight:400;
	padding:5px 15px;
}
.dashboard-tabs .nav-pills>li.active>a, .dashboard-tabs .nav-pills>li.active>a:focus, .dashboard-tabs .nav-pills>li.active>a:hover {
	color: #000;
	background:transparent;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right, #cf3696 0%, #fd6468 100%);
	border-image-slice: 1;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
}
.dashboard-tabs .nav-pills>li>a, .dashboard-tabs .nav-pills>li>a:focus, .dashboard-tabs .nav-pills>li>a:hover {
	color: #000;
	background:transparent;
}
.dashboard-list-item {
	border:1px solid #cccccc;
	display:block;
	width:100%;
	/* height:250px; */
overflow:auto;
	margin:30px 0px;
}
.db-tour-image {
	padding: 15px 0px;
}
.db-tour-image img {
	min-height:220px;
	object-fit:cover;
}
.dashboard-tour-details {
	padding:10px 0px;
}
.db-tour-name {
	font-size:22px;
	font-weight:600;
	color:#f35a72;
	text-transform:capitalize;
	margin:0;
	padding:05px 0px;
}
.db-tour-status {
	font-size:18px;
	font-weight:600;
	margin:0;
	text-transform:capitalize;
	padding:05px 0px;
}
.status-inactive {
	color:#bdbdbd;
}
.status-active {
	color:#0fc206;
}
.db-tour-booking-id {
	color:#000;
	font-size:14px;
	font-weight:200;
	margin:0;
	padding:05px 0px;
}
.db-tour-quotes {
	font-size:18px;
	font-weight:800;
	color:#55b211;
	margin:0;
	padding:8px 0px;
}
/* .table-db-inquiry tr td{
padding:0px 25px 0px 0px;
} */
.table-db-inquiry {
	margin:10px 0px;
	padding:0px;
}
.table-db-inquiry thead tr td {
	font-size:14px;
	color:#000;
	font-weight:200;
	padding:3px 0px;
}
.table-db-inquiry tbody tr td {
	font-size:14px;
	color:#000;
	font-weight:400;
	padding:3px 0px;
	border:0px;
}
.table-db-inquiry ul {
	list-style:none;
	border-right:1px solid #cccccc;
}
.table-db-inquiry ul li {
	font-size: 14px;
	color: #000;
	font-weight: 200;/*     padding: 3px 0px */
}
.table-db-inquiry ul li.regular {
	font-weight: 400;
}
.db-to-details {
	padding:5px 0px 0px 0px;
}
.db-to-name {
	color:#7f7f7f;
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:3px 0px;
}
.db-to-person, .db-to-email {
	color:#000;
	font-size:14px;
	font-weight:300;
	margin:0;
	padding:3px 0px;
}
.db-button {
	padding:15px 0px;
}
.btn-dashboard {
	color:#fff;
	background:#fa616b;
	border-radius:0px;
	font-weight:600;
	font-size:18px;
	padding: 10px 35px;
}
.btn-dashboard:hover {
	background: linear-gradient(to right, #cf2f8a 0%, #fd6468 100%);
	color:#fff;
}
/* Quote */

.quote-tabs-content {
	display:block;
	padding:05px 0px;
}
.quote-booking-details {
	display: block;
	overflow: auto;
	padding: 20px 0px;
}
.quote-tour-status {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	text-transform: capitalize;
	padding: 05px 0px;
}
.quote-title {
	font-size:22px;
	color:#2c2c2c;
	font-weight:400;
	margin:0;
	padding:07px 0px;
}
.quote-bookingno {
	font-size:14px;
	color:#717171;
	font-weight:400;
	margin:0px;
	padding:07px 0px;
}
.tr-title {
	color:#000;
	font-size:14px;
	font-weight:600;
	margin:0;
	padding:05px 0px;
	text-transform:capitalize;
}
.tr-vu {
	color:#f98994;
	font-size:14px;
	font-weight:400;
	margin:0;
	padding:05px 0px;
	text-transform:capitalize;
}
.tr-table {
	padding:10px 0px;
}
.tr-table .table.table-striped>tbody>tr {
	background:#f5d7d9;
}
.tr-table .table.table-striped>tbody>tr:nth-of-type(odd) {
background: #ffe4e6;
}
.tr-table .table.table-striped>tbody>tr>td {
	color:#000;
	font-weight:400;
	font-size:14px;
	margin:0;
	padding:8px 10px;
	border:0px;
}
.trip-advisor .trip-advisor-details {
	padding:10px 0px;
}
.trip-advisor .trip-advisor-details img {
	width: 83px;
	height: 83px;
	object-fit: cover;
}
.qb-data {
	padding:15px 0px;
}
.qb-data ul {
	border-bottom:1px solid #cccccc;
}
.qb-data .nav-tabs .nav-item {
	padding: 0px 6px;
	margin-right: 05px;
}
.qb-data .nav-tabs.nav-item a {
	padding:10px 15px;
}
.qb-data .nav>li>a {
	position: relative;
	display: block;
	padding: 0px 15px;
	min-width:220px;
}
.qb-data .nav-tabs>li.active>a, .qb-data .nav-tabs>li.active>a:focus, .qb-data .nav-tabs>li.active>a:hover {
	background:transparent;
	border:0px;
}
.qb-data .nav-tabs>li>a, .qb-data .nav-tabs>li>a:focus, .qb-data .nav-tabs>li.active>a:hover {
	background:transparent;
	border:0px;
}
.qb-data .nav-tabs li.bg-violet.active:after {
	content: "\f0d7";
	font-family: FontAwesome;
	font-size:35px;
	color:#c693be;
	position: absolute;
	left: 44%;
	bottom: -29px;/*   margin-top: -13px; */
}
.qb-data .nav-tabs li.bg-tangelo.active:after {
	content: "\f0d7";
	font-family: FontAwesome;
	font-size:35px;
	color:#f4b183;
	position: absolute;
	left: 44%;
	bottom: -29px;/*   margin-top: -13px; */
}
.qb-data .nav-tabs li.bg-vividblue.active:after {
	content: "\f0d7";
	font-family: FontAwesome;
	font-size:35px;
	color:#88d2f4;
	position: absolute;
	left: 44%;
	bottom: -29px;/*   margin-top: -13px; */
}
.top-details h4 {
	font-size:14px;
	color:#121212;
	font-weighT:400;
	margin:0;
	padding:10px 0px;
	text-align:center;
}
.top-details h5 {
	font-size:12px;
	color:#000;
	font-weighT:200;
	margin:0;
	padding:05px 0px;
	text-align:center;
}
.top-details h3 {
	font-size:16px;
	color:#000;
	font-weight:400;
	margin:0;
	padding:05px 0px;
	text-align:center;
}
.qto-tab-content {
	padding:25px 0px;
}
.qto {
	background:#e5e5e5;
	padding:15px;
}
.qto-logo {
	padding:1px 0px;
}
.qto-details h4 {
	color:#000;
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:10px 0px;
}
.qto-details p {
	font-size:12px;
	color:#121212;
	font-weight:200;
	margin:0;
	padding:05px 0px;
}
.qto-details .fa {
	font-size: 12px;
	color: #edc407;
}
.qto-contact {
	text-align:right;
}
.qto-contact h4 {
	color:#7b7b7b;
	font-size:14px;
	font-weight:400;
	margin:0;
	padding:5px 0px;
}
.qto-contact ul {
	list-style:none;
	border-bottom:0px;
	margin:0px;
}
.qto-contact ul li {
	color:#7b7b7b;
	font-size:14px;
	font-weight:200;
	margin:0;
	padding:5px 0px;
}
.qto-contact ul li i {
	margin:0px 10px;
}
.qto-number {
	padding:10px 0px;
}
.qto-number h4, .qto-cost h4 {
	color:#919191;
	font-size:14px;
	font-weight:200;
	padding:05px 0px;
	margin:0;
	text-transform:capitalize;
}
.qto-number h3 {
	font-size:16px;
	color:#000;
	font-weight:400;
	margin:0px;
	padding:05px 0px;
	text-transform:uppercase;
}
.qto-cost {
	text-align:right;
	padding:10px 0px;
}
.qto-cost h3 {
	font-size:16px;
	color:#1f9e0a;
	font-weight:400;
	margin:0px;
	padding:05px 0px;
	text-transform:uppercase;
}
.qto-tab-content .table>tbody>tr>td {
	border:0px;
}
.qto-hoteltable .table>thead>tr>td {
	font-size:16px;
	color:#000;
	font-weight:400;
}
.qto-hoteltable .table>tbody>tr>td {
	font-size:14px;
	color:#000;
	font-weight:200;
	padding: 05px 10px;
}
.chat_box {
	position:fixed;
	right:20px;
	bottom:0px;
	width:250px;
}
.chat_body {
	background:white;
	height:400px;
	padding:5px 0px;
}
.chat_head, .msg_head {
	background:#4ebd40;
	color:white;
	padding:5px 15px;
	font-size:16px;
	font-weight:400;
	cursor:pointer;
	border-radius:0px;
}
.msg_box {
	position:relative;
	bottom:-5px;
	width:100%;
	background:white;
	border-radius:5px 5px 0px 0px;
}
.msg_head {
	background:#4ebd40;
}
.msg_body {
	background:#fff;
	height:auto;
	font-size:12px;
	padding:0px 15px;
	overflow:auto;
	border:1px solid #cccccc;
	overflow-x: hidden;
}
.msg_input {
	width:100%;
	border: 1px solid white;
	border-top:1px solid #DDDDDD;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}
.close {
	float:right;
	cursor:pointer;
}
.minimize {
	float:right;
	cursor:pointer;
	padding-right:5px;
}
.user {
	position:relative;
	padding:05px 30px;
	font-size:14px;
	font-weighT:200;
}
.user:hover {
	background:transparent;
	cursor:pointer;
}
.user:before {
	content:'';
	position:absolute;
	background:#fff;
	height:10px;
	width:10px;
	left:10px;
	top:10px;
	border-radius:6px;
}
.msg_a {
	position:relative;
	background:#b3fdc5;
	padding:10px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:10px;
	border-radius:5px;
}
.msg_a:before {
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent #b3fdc5 transparent transparent;
	left:-20px;
	top:7px;
}
.msg_b {
	background:#b3fdc5;
	padding:10px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	border-radius:5px;
}
.msg_b:after {
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent transparent transparent #b3fdc5;
	right:-20px;
	top:7px;
}
.msg-block {
	display:block;
	width:100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	margin:20px 0px;
}
.msg_text {
	color:#000;
	font-weight:200;
	font-size:14px;
}
.msg_time {
	color:#989898;
	font-size:12px;
	font-weight:200;
	float:right;
	padding:0px 10px;
}
.btn-chat {
	width: 100%;
	background: #4ebd40;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	height: 48px;
	border-radius: 0px;
	margin: 10px 0px;
}
/* Booking Compare */

.booking-compare-carousel {
	padding: 25px 0px 50px 0px;
}
.boc-time h4 {
	font-size:12px;
	font-weight:200;
	margin:0;
	padding:05px 0px;
	text-align:right;
}
.bo-compare {
	display:block;
	border:1px solid #d2d2d2;
}
.boc-header {
	padding:05px;
}
.boc-content {
	padding:0px 10px;
}
.boc-header .boc-travel-name {
	color:#000;
	font-size:16px;
	line-height:23px;
	font-weight:600;
	margin:0;
	padding:0;
	min-height:40px;
}
.boc-header .boc-travel-data {
	color:#000;
	font-size:12px;
	font-weight:200;
	margin:0;
	padding:05px 0px;
}
.boc-ti img {
	height:70px;
	object-fit:cover;
}
.boc-title {
	color:#000000;
	font-size:14px;
	font-weight:400;
	margin: 0;
	padding: 15px 0px;
	text-transform: capitalize;
}
.boc-content p {
	font-weight:200;
	color:#606060;
	font-size:12px;
	margin:0;
	padding:05px 0px;
	text-align:justify;
}
.boc-itinerary {
	background:#e5e5e5;
	padding:10px;
}
.boc-itinerary h5 {
	color:#000;
	font-weight:600;
	font-size:12px;
	line-height:27px;
	margin:0px;
	padding:0px;
}
.boc-itinerary p {
	color:#a0a0a0;
	font-size:12px;
	font-weight:200;
	line-height:21px;
	padding: 20px 0px 10px 0px;
}
.boc-content .holiday-package-facilities ul li {
	display: inline-block;
	line-height: 28px;
}
.table-bo {
	text-align:center;
}
.table-bo thead {
	background:#f0f0f0;
	color:#787878;
	font-size:12px;
}
.table-bo tbody {
	color:#000;
	font-weight:200;
	font-size:12px;
}
.boc-contact {
	text-align:center;
	padding:10px 0px;
}
.boc-contact h4 {
	color:#000;
	font-size:12px;
	font-weight:400;
}
.btn-boc {
	color:#000;
	font-size:16px;
	font-weight:400;
	margin:10px 0px;
	padding:8px 15px;
	border-radius:0px;
	border:0px;
}
.booking-compare-carousel .owl-prev {
	left:-10%;
	color:#d1d1d1;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
	box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
}
.booking-compare-carousel .owl-next {
	right:-10%;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
	box-shadow: 3px 3px 5px 0px rgba(235, 235, 235, 1);
}
.booking-compare-carousel .owl-nav i {
	color:#d1d1d1;
}
/* Profile */


.profile-dashboard {
	display:block;
	overflow:auto;
}
.profile-details {
	padding:20px 0px;
}
.profile-location {
	font-size:16px;
	color:#000;
	font-weight:600;
	margin:0;
	padding:8px 0px;
	text-transform:uppercase;
	text-align:center;
}
.profile-review {
	padding:8px 0px;
	text-align:center;
}
.profile-review .fa {
	font-size:26px;
}
.profile-countno {
	font-size:53px;
	font-weight:600;
	margin:0;
	padding:10px 0px;
	text-align:center;
	background: linear-gradient(to right, #2990e8 0%, #ca328e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform:uppercase;
}
.profile-dashboard-tabs .nav.nav-pills {
	line-height: 10px;
	background: linear-gradient(to right, #0eb8ff 0%, #6c82ff 100%);
	border: 0px;
	color:#fff;
	text-transform:uppercase;
	border-radius: 0px;
}
.profile-dashboard-tabs .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background: linear-gradient(to right, #ec70b9 0%, #e86870 100%);
	padding: 15px 30px;
	border-radius:0px;
	color:#fff;
}
.profile-dashboard-tabs .nav-pills li a {
	color:#000;
	padding: 15px 30px;
	font-weight:600;
}
.profile-dashboard-tabs .nav-pills li a:hover {
	background: linear-gradient(to right, #0eb8ff 0%, #6c82ff 100%);
	border: 0px;
	color:#fff;
	text-transform:uppercase;
	border-radius: 0px;
}
.pd-about {
	padding:20px 0px;
}
.pd-about p {
	color:#000;
	font-weight:200;
	font-size:14px;
	line-height:25px;
	margin:0;
}
.pd-contact {
	display:block;
	padding:5px 0px;
}
.pd-contact p {
	font-size:14px;
	font-weight:normal;
	color:#000;
	line-height:27px;
	margin:0;
	padding:8px 0px;
}
.pd-contact ul {
	list-style:none;
}
.pd-contact ul li {
	display:inline;
	font-size:14px;
	color:#000;
	padding-right:24px;
}
.pd-contact ul li i {
	margin:0px 10px 0px 0px;
}




/* 03122018 */


.owl-slider .owl-stage-outer{
	
	overflow:visible;
}
.owl-slider .owl-nav button{
	
	border-radius:50%;
	opacity:1;
	
}
.owl-slider .owl-prev{
	margin-left:-25px;
}
.owl-slider .owl-next{
	margin-right:-20px;
}
.owl-slider i{
	color:#d4d2d2;
}
.main-nav .nav-tabs li a{
	
	
}
.main-nav .nav-tabs{
	
	
	/* padding:15px 0px; */
	width:100%;
}
.main-nav .nav-tabs li a{
	
	font-size:16px;
	color:#fff;
    padding:10px 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.main-nav .nav-tabs li a:hover{
	
	background:transparent;
}
.main-nav .nav-tabs li.active a{
	
	color:#ff673f;
	background: transparent;
    border: 0px;
}
.main-nav .nav-tabs li.focus{
	background:transparent;
	
}
.custom_overlay_wrapper { position: relative; }
 
.custom_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	max-width:500px;
	
	margin:0 auto;

	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	z-index:9999999999999999999999;
}
 

 
.custom_overlay_inner {
	position: absolute;
	top: 50%;
	left: 10px;
	right: 10px;
  	transform: translateY(-50%);
}
 
.banner-heading4{
	
	font-size:42px;
	 font-family:'Arabic';
	     margin: 0px;
		 text-align:left
	 
}
 .banner-heading2{
	
	font-size:150px;
	font-weight:800;
	font-family:Amazon Bt;
	background: linear-gradient(to right, #d23993 0%, #fc6369 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	    margin: 0px;
		
    text-align:left;
}
 .banner-price{
	 
	 color: #fff;
    background: #000;
    padding: 05px 10px;
	font-size:18px;
	float:left;
 }

 
 .mobile-nav .navbar-nav{
	 padding:10px 0px;
 }
 
  .mobile-nav  .navbar-default .navbar-toggle{
	border-radius:0px; 
	 
 }
 
  .mobile-nav .open > ul{
	  
	  display:inline !important;
  }
  .mobile-nav .dropdown-menu > li{
	  
	  display:inline !important;
  }
  
input::-webkit-input-placeholder {
    color: #888;
}

input:focus::-webkit-input-placeholder {
    color: #888;
}