:root {
    --main-primary-color: #b30041;
}
.p-0{
    padding: 0 !important;
}
.display-none{
    display: none;
}
.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden;}

html{
    background-color: #fff;
}

div.dataTables_filter input::-webkit-input-placeholder {
    /*color:transparent;*/
}

div.dataTables_filter input:-moz-placeholder { /* Firefox 18- */
    color:transparent; 
}

div.dataTables_filter input::-moz-placeholder {  /* Firefox 19+ */
    color:transparent; 
}

div.dataTables_filter input:-ms-input-placeholder {  
    color:transparent;
}
tfoot {
    display: table-row-group;
}
tfoot div.md-input-wrapper input.md-input, tfoot div.md-input-wrapper select{border: solid 1px rgba(0, 0, 0, 0.12);}
tfoot tr{
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
#header_main{
    background: linear-gradient(to right, #ff2682 0%, #ff6541 100%);
    padding: 0 3px !important;
}
.display-inline-flex{ display:  inline-flex;}
.p-l-20{ padding-left: 20px;}
.p-t-20{ padding-top: 20px;}
.f-s-13{ font-size: 13px !important}
.p-t-8{ padding-top: 8px;}
.p-10{ padding: 10px;}
.v-a-m{vertical-align: middle !important;}
.pricing_table_v2.pricing_table_v2_b .pricing_table_price, .pricing_table_v2.pricing_table_v2_b .pricing_table_plan{
    background: #689f38 !important;
}
.pricing_table_v2.pricing_table_v2_b .md-btn{
    background: #7cb342 !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
#user_profile_tabs > li > a{
    color: #FFF !important;
}
.p-0{
    padding: 0 !important;
}
.p-t-5{ padding-top: 5px !important;}
.p-t-10{ padding-top: 10px !important;}
.main_logo_top a {  margin-top: -2px !important; }
.uk-overflow-container{ overflow: visible !important;}
#invoice_preview div.line{overflow: hidden;}
#invoice_preview .md-list .uk-nestable-list > li, .md-list > li{border-bottom: none;}
ul#main_menu li div.uk-dropdown-active{min-width: 250px !important;}
.m-t-10 { margin-top: 10px !important;}
.check-box-lbl{
    font-weight: 500;
    font-size: 13px;
    display: block;
    padding-bottom: 8px;
}
.float-right{ float: right !important;}



.uk-article-title {
    font-size: 25px;
    line-height: 1.8em;
    margin-bottom: 0px;
}
.uk-article-meta{
    margin-top: 0px !important;
}
.hotel-facilities-ul li {
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 0px;
    display: inline-block;
}
.hotel-facilities-ul li:last-child{
    margin-right:0px;
}
.hotel-facilities-ul li .md-list-addon-element{
    padding-top:0px;
}
.hotel-facilities-ul li i{
    color: #FFF;
    font-size: 18px;
}
.room-detail-list .search_list_thumb {
    width: 100%;
    padding-right: 16px;
    height: auto;
}
.room-detail-list .search_list_heading {
    margin: 0 0 10px;
}
.room-detail-list li {
    padding-bottom: 24px !important;
    padding-top: 0px !important;
}
.line-height-2 {
    line-height: 2em;
}
.hotel-img-slide > * > * {
    width: 10px;
    height: 10px;
}
.f-left{
    float:left;
}
.md-box {
    box-shadow: none;
    border: 1px solid var(--main-primary-color);
    border-radius: 0px;
    background-color: #FFF;
}
.p-b-20{
    padding-bottom:20px;
}
.text-justify {
    text-align: justify;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-primary {
    color: var(--main-primary-color);
}
.bg-pink {
    background-color: var(--main-primary-color);
}
.p-l-0{
    padding-left:0px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.text-white{
    color: #FFF !important;
}
.brd-t-l-0 {
    border-top-left-radius: 0 !important;
}
.brd-radius-0 {
    border-radius: 0 !important;
}
.brd-b-l-0 {
    border-bottom-left-radius: 0 !important;
}
.fac-star-wrapper {
    display: block;
    text-align: center;
}
.m-t-0{
    margin-top:0px !important;
}
.m-t-b-10{
    margin: 10px 0;
}
.btn-book-room {
    padding: 2px 36px;
}
.view-link-wrapper{
    text-align:center;
    padding: 10px 0;
    display:inline-block;
    width:100%;
}
.view-link-wrapper a {
    font-size: 14px;
    padding: 0 10px;
}
.search_list_sub_heading {
    font: 400 15px / 22px "Roboto", sans-serif;
    margin: 0 0 2px;
}
.search_list_sub_heading a{
    color: #333;
}
.room_option_price {
    font-size: 18px;
    text-align: right;
    display: inline-block;
    float: right;
}
.room_option_price .period {
    font-size: 14px;
    padding: 4px;
    color: #aaa;
}
.display-inline-block{
    display: inline-block;
}
.v-top {
    vertical-align: top;
}
.v-middle {
    vertical-align: middle;
}
.points-wrapper li{
    padding-top:10px;
    line-height: 1.5em;
}
.hotel-detail-list li {
    float: left;
    padding-right: 15px;
}
.p-t-10 {
    padding-top: 12px;
}
.p-20{ padding: 20px !important;}
.tour_search_list .search_list_thumb {
    width: 210px !important;
    height: auto;
}
.line {
    overflow: hidden;
}
.bullet-icon {
    font-size: 12px;
    vertical-align: text-top;
    padding-top: 2px;
}

li div.md-list-content {display: flex;}
ul.md-list li{    min-height: 30px; padding: 0px 4px;}
.text-danger, label.error{
    color: #e53935;
    margin-top: 0;
    display: block;
    padding-top: 4px;
    font-size: 14px;
}
.width-100{
    width: 100%;
}
input#lead-no{
    text-transform: uppercase;
}
.dz-image-preview .dz-image img{
    height: 100%;
}
.form-horizontal label:not(.inline-label), .form-horizontal .file-upload label {
    float: left;
    display: block;
    width: 20%;
}
.form-horizontal .md-input, .form-horizontal .inputbox, .form-horizontal .file-upload .dropify-wrapper, .form-horizontal .commission-for, .form-horizontal .select2-container {
    float: left;
    display: block !important;
    width: 75% !important;
    margin-left: 3% !important;
    padding: 4px !important;
}
.form-horizontal .iradio_md {
    float: left;
    display: block;
}
.form-horizontal textarea {
    float: left;
    display: block;
    padding: 4px 0px;
    max-height: 80px;
}
.daywise-itinerary-plan{
    text-align: center;
    background: #DDD;
    font-size: 22px;
    padding: 10px;
}
.user_heading{
    background: linear-gradient(to right, #ff2682 0%, #ff6541 100%);
}
.btn-add {
    background: linear-gradient(to right, #ff2682 0%, #ff6541 100%);
}
.btn-add:hover {
    background: linear-gradient(to right, #ff2682 0%, #ff6541 100%);
}


/* deshboard widget */
.box, .widget {
    background-color: #fff;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc;
}
.widget-body, .widget-footer, .widget-header {
    padding: 1rem;
}
h3.widget-title {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500;
}
.widget-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
        margin-bottom: 0px;
    color: #333;
}
.text-primary {
    color: #188ae2 !important;
}
.box small, .widget small {
    font-size: 95%;
    font-weight: 500;
}
.text-color {
    color: #6a6c6f !important;
}
small {
    font-weight: 400;
    color: #777;
}
.small, small {
    font-size: 85%;
}
.stats-widget .big-icon {
    color: #cccer;
    font-size: 32px;
}
.watermark {
    color: #edf0f5;
}
.pull-right {
    float: right !important;
}
.pull-right {
    float: right;
}
.stats-widget .widget-footer {
    padding: 8px 16px;
}
.widget-body, .widget-footer, .widget-header {
    padding: 1rem;
}
.bg-primary, .primary {
    background-color: #188ae2;
    color: #fff;
}
.bg-primary {
    background-color: #188ae2;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.stats-widget .widget-footer small {
    color: #fff;
}
.box small, .widget small {
    font-size: 95%;
    font-weight: 500;
}
small {
    font-weight: 400;
    color: #777;
}
.small, small {
    font-size: 85%;
}

.list-1{
    width: 80%; float: left; text-align: left;
}
.list-2{
    width: 20%; float: left; text-align: right;
}
.list-3{
    width: 20%; float: left; text-align: right;
}

.uk-text-info{
    color: #17a2b8;
}
.widget-footer {
    height: 20px;
}
.bg-danger{
    background-color: #ff5b5b;
    color: #fff;
}
.bg-success{
    background-color: #10c469;
    color: #fff;
}
.bg-warning{
    background-color: #ffa000;
    /* color: #343a40; */
    color: #fff;
}
.bg-info {
    background-color: #17a2b8;
    color: #fff;
}

#header_main .uk-navbar .uk-navbar-nav > li > a{
    line-height: 55px;
}
.hotel-details{
    border: 1px dotted #DDD; padding: 10px; margin-bottom: 10px;
}